header
{
    max-width: 1520px;
    margin: 0 auto;
    text-align: center;
} 


h1
{    
    font-family:Arial, Helvetica, sans-serif;
    width: 50%;
    position: relative;
    right: -100px;
}

hr
{
    width: 800px;
}

.box-mit-rahmen
{
    box-sizing: border-box;
    margin: auto;
    width: 800px;
    height: 400px; 
    background-color: white;
    border:#e9e4e4f5 solid 20px;
    background-image: url(/images/beach.jpg);
    background-repeat: no-repeat;
    background-size:400px 400px;
    background-position: right top;
}

.nav ul a
{
    text-decoration: none;
    color:black;

}

.nav{
    position: relative;
    left:200px;
}

.nav ul a:hover
{
    color:blueviolet;
    font-weight: bolder;
}

article
{
    position: relative;
    top: 80px;
    
}

article p
{
    max-width: 340px;
    
}

.copyright
{

position: relative;
top:130px;
left: 60px;
}




